streamlit==1.46.1

openai-whisper
torch
torchaudio
torchvision

langchain
langchain-community
langchain-core

chromadb

sentence-transformers

yt-dlp

ffmpeg-python

python-dotenv

pandas

numpy

mistralai

sarvamai

tiktoken

pydantic

requests

rich

tqdm

plotly

youtube-transcript-api